<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Producto</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/editProductos.css">
    <link rel="stylesheet" href="/css/styleProductos.css"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"rel="stylesheet">
    <script defer src = "/js/validarProducto.js"></script>
</head>  

<body>
    <header>
        <%- include("./partials/header.ejs") %> 
    </header>
    <main> 
        <section>
            <h1>Crear nuevo producto</h1> 
            <form action ="/productos/nuevoProducto" method="POST" enctype="multipart/form-data" >
                <div>
                    <h3>Categoría</h3>
                    <div class="bloque-cat">
                        <input name="categorias" type="radio" id="Iluminacion"
                        value ="Iluminacion">
                        <label>Iluminación</label>
                    </div>
                    <div class="bloque-cat">
                        <input name="categorias" type="radio" id="Muebles"
                        value ="Muebles"><label>Muebles</label>
                    </div>
                    <div class="bloque-cat">
                        <input name="categorias" type="radio" id="Plantas"
                        value= "Plantas"><label>Plantas</label>
                    </div>
                </div>
                <div class="bloque">
                    <label for="nombre"></label>
                    <input name="nombre" type="text" id="nombre" placeholder="Nombre del producto" 
                    value = <%= locals.oldData ? oldData.nombre : null %>>
                    <p></p>
                    <% if (locals.errors && errors.nombre) { %> 
                        <div> <%= errors.nombre.msg %> </div>
                        <% } %> 
                </div>
                <div class="bloque">
                    <label for="descripcion"></label>
                    <input name="descripcion" type="text" id="descripcion" placeholder="Descripción" 
                    value = <%= locals.oldData ? oldData.descripcion : null %>>
                    <p></p>
                    <% if (locals.errors && errors.descripcion) { %> 
                        <div> <%= errors.descripcion.msg %> </div>
                        <% } %> 
                </div>
                <div class="bloque">
                    <label for="precio"></label>
                    <input name="precio" type="number" id="precio" placeholder="Precio" 
                    value = <%= locals.oldData ? oldData.precio : null %>>
                    <p></p>
                    <% if (locals.errors && errors.precio) { %> 
                        <div> <%= errors.precio.msg %> </div>
                        <% } %> 
                </div>
                <div class="bloque">
                    <label class="label-boton" for="img">Imágenes del producto</label>
                    <input name="img" type="file" id="img" >
                    <p></p>
                    <% if (locals.errors && errors.img) { %> 
                        <div> <%= errors.img.msg %> </div>
                        <% } %> 
                </div>
                <div><button type = "submit" class="boton">CARGAR</button></div>
            </form>
            
        </section>
    </main>  
    
    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>
</body>
</html>