<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styleforms.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"rel="stylesheet">
</head>
<body>
    <header><%- include("./partials/header.ejs") %></header>

            <h3>Bienvenido</h3>
        <div>
            <p>Hola <%= usuario.Nombre %> </p>
            <p>Tu Usuario es: <%= usuario.Email%> </p>
            <img src="/img/users/"<%= usuario.img %>>
        </div>
        <div>
            <button> <a href="/index"> PAGINA DE INICIO </a></button>
        </div>
        <div>
             <button> <a href="/edicionUsuario/<%= usuario.id %>"> EDICION DE USUARIO </a></button>
        </div>
    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>
</body>
</html>