<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styleforms.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"rel="stylesheet">
   
</head> 

<body>
    <header><%- include("./partials/header.ejs") %></header>
    <main>
        <section class="section-style">
            
            <h2>Completá tus datos</h2>

            <form action= "/registro" method="POST" enctype="multipart/form-data">
                <div class="div-style">
                    <label for="Nombre"></label>
                    <input name="Nombre" type="text" id="Nombre" placeholder="Nombre"
                    value = <%= locals.oldData ? oldData.Nombre : null %> >
                    <% if (locals.errors && errors.Nombre) { %> 
                        <div> <%= errors.Nombre.msg %> </div>
                        <% } %> 
                </div>
                <div class="div-style">
                    <label for="Apellido"></label>
                    <input name="Apellido" type="text" id="Apellido" placeholder="Apellido"
                    value = <%= locals.oldData ? oldData.Apellido : null %>>
                    <% if (locals.errors && errors.Apellido) { %> 
                        <div> <%= errors.Apellido.msg %> </div>
                        <% } %> 
                </div>
                <div class="div-style">
                    <label for="Direccion"></label>
                    <input name="Direccion" type="text" id="Direccion" placeholder="Dirección"
                    value = <%= locals.oldData ? oldData.Direccion : null %>>
                    <% if (locals.errors && errors.Direccion) { %> 
                        <div> <%= errors.Direccion.msg %> </div>
                        <% } %> 
                </div>
                <div class="div-style">
                    <label for="Edad"></label>
                    <input name="Edad" type="number" id="Edad" placeholder="Edad"
                    value = <%= locals.oldData ? oldData.Edad : null %>>
                    <% if (locals.errors && errors.Edad) { %> 
                        <div> <%= errors.Edad.msg %> </div>
                        <% } %> 
                </div>
                <div class="div-style">
                    <label for="Email"></label>
                    <input name="Email" type="email" id="Email" placeholder="Email"
                    value = <%= locals.oldData ? oldData.Email : null %>>
                    <% if (locals.errors && errors.Email) { %> 
                        <div> <%= errors.Email.msg %> </div>
                        <% } %> 
                </div>
                <div class="div-style">
                    <label class="div-style"for="img">Mi foto de perfil</label>
                    <input name="img" type="file" id="img" >
                    <% if (locals.errors && errors.img) { %> 
                        <div> <%= errors.img.msg %> </div>
                        <% } %> 
                </div>
                <div class="div-style">
                    <label for="contraseña"></label>
                    <input name="contraseña" type="password" id="contraseña" placeholder="Contraseña">
                    <% if (locals.errors && errors.contraseña) { %> 
                        <div> <%= errors.contraseña.msg %> </div>
                        <% } %> 
                </div>
                <div class="terminosYCondiciones">
                    <input type="checkbox" name="term" id="term" class="label-term">
                    <label for="term" class="label-term"><a href="#">Acepto términos y condiciones</a></label>
                </div>
                <div class="div-style">
                    <button class="button-style">Registrate</button>
                </div>
            </form>
        </section>
    </main>  
    
    <%- include('./partials/footer') %>
</body>
</html>