<article class="product-wrapper">
    <a href="/products/detalle/ <%= productoIndividual.id %>">
    <div class ="image-container"> 
        <img
            class="style-img"
            src= <%= productoIndividual.img %> 
            alt=""
        />
    </div>
    </a>
    <div class ="description-container"> 
        <div> 
            <p class="style-title"> <%= productoIndividual.nombre %></p>
            <p class="style-description"> DESCRIPCION <br>
                <%= productoIndividual.desc %> 
            </p>
            <p class= "style-price"> <%= productoIndividual.precio %> </p>
        </div>
        <div class= "style-button">
            <a href= "/carrito.html">COMPRAR</a>
        </div>
    </div>
</article>