<article class="product-wrapper">
    <a href="/productos/detalle/ <%= productoIndividual.id %>">
        <div class="image-container">
            <img class="style-img" src="<%= productoIndividual.img %>" alt="" />
        </div>
    </a>
    <div class="description-container">
        <div>
            <p class="style-title">CATEGORIA: <%= productoIndividual.categorias %> </p>
            <p class="style-title">NOMBRE: <%= productoIndividual.nombre %> </p>
            <p class="style-description">DESCRIPCION: <%= productoIndividual.descripcion %>
            </p>
            <p class="style-price">PRECIO: <%= productoIndividual.precio %></p>
        </div>
        <div class="style-button">
            <a href="/productos/carrito">COMPRAR</a>
        </div>
    </div>
</article>
